<div class="d-flex justify-content-center">
  <h4>{{ title }}</h4>
</div>
<hr />
<div *ngIf="alert" class="d-flex justify-content-center">
  <p *ngIf="alert?.type === 'success'" [ngStyle]="{color: 'green'}">{{ alert?.value }}</p>
  <p *ngIf="alert?.type === 'danger'" [ngStyle]="{color: 'red'}">{{ alert?.value }}</p>
</div>
<div class="d-flex justify-content-center">
  <p>Uploading File Name: {{ fileName }}</p>
</div>
<div class="d-flex justify-content-center">
  <input [(ngModel)]="fileName" placeholder="Enter file name" type="text">
  <input (change)="upload($event)" [disabled]="fileName.length < 1" type="file">
</div>
<br />
<hr />
<div class="d-flex justify-content-center">
  <p>Searching File Name (with extension): {{ findFile }}</p>
</div>
<div class="d-flex justify-content-center">
  <input [(ngModel)]="findFile" placeholder="Search by name" type="text">
  <input (click)="openFile()" [disabled]="findFile.length < 1" type="button" value="Search">
</div>
